.navbar {
  padding: 0;
  margin: 0;
  
}

.container-fluid{
  background-color: black;
}

.collapse{
  justify-content: center;
}

.container-fluid a {
  color:white;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Merriweather Sans', sans-serif;
}
.container-fluid h4{
  color: white;
  font-family: 'Russo one';
}

/*ADAPTABLE RESPOSIVO*/
@media screen and(max-width: 767px) {
  .navbar {
    display: none;
  }
}






