.seccionPrincipal{
  background-color: rgb(0,0,0,0.87);
  min-height: 450px;
  text-align: center;
}

.principal{
  padding: 1rem;
  margin: 0;
}

.imagenPrincipal{
  width: 300px;
  height: 300px;
  margin: 20px;
}

.principal h1{
  font-family: 'Russo one', sans-serif;
  color: white;
}

.principal h2{
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  font-size: 1.5rem;
}


@media (max-width: 700px) {
  principal{
    flex-direction: column;
  }}

